@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply font-main;

		@apply break-words;
		@apply leading-8;
		@apply subpixel-antialiased;
	}
	body {
		@apply text-white;
		@apply text-base;
	}
	img {
		@apply object-cover;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	time {
		@apply font-bold;
		@apply mb-5;
	}
	h1 {
		@apply text-4xl lg:text-5xl;
		@apply leading-9 lg:leading-10;
		@apply lg:mb-12 mb-6;
		@apply uppercase;
	}
	h2 {
		@apply text-3xl lg:text-4xl;
		@apply leading-8 lg:leading-9;
		@apply lg:mb-12 mb-6;
		@apply uppercase;
	}
	h3 {
		@apply text-2xl lg:text-3xl;
		@apply leading-6 lg:leading-7;
	}
	h4 {
		@apply text-lg lg:text-xl;
		@apply leading-4 lg:leading-5;
	}
	h5 {
		@apply text-base;
		@apply leading-4 lg:leading-5;
	}
	p {
		@apply text-base mb-4;
		@apply font-light;
	}
	a {
		@apply hover:underline;
	}
	small {
		@apply text-small;
	}
}

@layer components {
	.wrap {
		@apply grid grid-cols-8 gap-5;
		&-full {
			@apply grid grid-cols-8 md:grid-cols-12 gap-5;
		}
	}
	.sub-line {
		@apply relative;
		@apply after:bg-main-lighter;
		@apply after:content-[''] after:absolute after:top-1/2 after:mx-2;
		@apply after:w-10 after:h-0.5;
	}
	.title-b {
		@apply after:block after:content-[''] after:w-12 after:h-1 after:bg-white after:mt-4;
	}
	.title-line {
		@apply after:inline-block after:content-[''] after:w-10 after:h-1 after:bg-white after:mx-2 after:align-middle;
		@apply before:inline-block before:content-[''] before:w-10 before:h-1 before:bg-white before:mx-2 before:align-middle;
		/* &:before,
		&:after {
			display: inline-block;
			content: '';
			border-top: 0.3rem solid green;
			width: 4rem;
			margin: 0 1rem;
		} */
		/* @apply relative;
		@apply after:bg-main-lighter;
		@apply after:content-[''] after:absolute after:top-1/2 after:right-0 after:-mr-14;
		@apply after:w-10 after:h-0.5;
		@apply before:bg-main-lighter;
		@apply before:content-[''] before:absolute before:top-1/2 before:left-0 before:-ml-14;
		@apply before:w-10 before:h-0.5; */
	}
	.text-shadow {
		text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
		&-light {
			text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
		}
		&-anaglyph {
			text-shadow: -0.06em 0 red, 0.06em 0 cyan;
		}
		&-outline {
			text-shadow: 0 1px 1px #000, 0 -1px 1px #000, 1px 0 1px #000, -1px 0 1px #000;
		}
		&-multiple {
			text-shadow: 0.04em 0.04em 0 #fff, 0.08em 0.08em 0 #aaa;
		}
		&-3d {
			text-shadow: 0 0.032em 0 #b0b0b0, 0px 0.15em 0.11em rgb(0 0 0 / 15%), 0px 0.25em 0.021em rgb(0 0 0 / 10%),
				0px 0.32em 0.32em rgb(0 0 0 / 10%);
		}
	}

	.stretch {
		&:after {
			@apply absolute inset-0 content-[''] z-10;
		}
	}
}

@layer utilities {
	.scrollbar {
		/* &::-webkit-scrollbar {
			@apply w-1.5;
		} */
		&::-webkit-scrollbar-track {
			@apply bg-sec-light;
		}
		&::-webkit-scrollbar-thumb {
			@apply border-2;
			@apply bg-main-darker;
			@apply rounded-full;
		}
	}
	.fade-enter-active {
		@apply transition-opacity duration-300 ease-in-out;
	}

	.fade-enter-from,
	.fade-leave-to {
		@apply opacity-0 duration-300;
	}

	.page-enter-active {
		@apply transition-opacity duration-300 ease-in-out;
	}

	.page-enter-from,
	.page-leave-to {
		@apply opacity-0 duration-300;
	}
}
